/**公共部分样式**/
body,div,img,p,ul,li{
	margin:0;
	padding:0;
}
body{
	padding:20px;
}
img{
	width:80px;
	height:80px;
}
#bigBox{
	margin:0 auto;
	padding:20px;
	background:#eee;
	border:1px solid #999;
	position:relative;
}
#leftBox{
	margin:0 auto;
	padding:20px;
	width:200px;
	background:red;
	position:absolute;
	top:20px;
	left:20px;
}
#leftBox p{
	font-size:18px;
	display:inline;
	padding:20px;
	margin-top:20px;
}
#middleBox{
	margin:0 auto;
	padding:20px;
	background:blue;
	border:1px solid #999;
}
#rightBox{
	margin:0 auto;
	padding:20px;
	background:green;
	border:1px solid #999;
	width:120px;
	position:absolute;
	top:20px;
	right:20px;
}
#rightBox ul{
	list-style:none;
}