body.div,img,ul,li,p{
      margin:0;
      padding:0;
}
body{
	padding:20px;
	font-size:16px;
}
img{
	width:80px;
	height:80px;
	float:left;
}
.bigBox{
	margin:0 auto;
	padding:20px;
	background:#eee;
	border:1px solid #999;
	overflow:auto;
}
.leftBox{
	padding:20px;
	border:1px solid #999;
	width:160px;
	float:left;
	background:#ccc;
}
.leftBox p{
	float:right;
}
.rightBox{
	border:1px solid #999;
	width:120px;
	float:right;
	padding:20px;
	background:#ccc;
}
.rightBox ul{
	list-style:none;
}
.rightBox ul li img{
	margin:20px;
}
.middleBox{
	padding:20px;
	border:1px solid #999;
	margin-left:220px;
	margin-right:180px;
	line-height:2em;
}

	